.prereg {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.register {
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
    margin: auto;
    background-color: #212529;
    color: #FBFBFB;

    transition: background-color 250ms, color 250ms;
}

.register:hover {
    border: 2px solid gray;
    background-color: #FBFBFB;
    color: #212529;
}
