.total {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.betbar {
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Quicksand', sans-serif;
}