.amount {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.total {
    margin-left: 24vw;
    margin-right: 24vw;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.amounts {
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Quicksand', sans-serif;
}