.updater-container {
    font-family: 'Montserrat', sans-serif;
}

.profile-pic {
    width: 250px;
    height: 250px;
}

.nameandslug {
    margin: auto;
    width: 20vw;
    min-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-name {
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    font-size: 24px;
}

.ggsluginput {
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
}

.savebutton {
    margin: auto;
    width: 100%;
    max-width: 100px;
}