@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.hide {
    visibility: hidden;
}

.smashball {
    position: absolute;
    width: 60%;
    z-index: -1;
    opacity: 5%;
    
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    animation-name: pulse;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.portraitButton {
    background: transparent;
    border: none !important;
    position: absolute;
    margin: 20%;
    width: 50%;
    height: 50%;
}

.portrait {
    width: 90%;

    animation-name: bounce;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from{
        transform: translateX(-2%);
    }

    to {
        transform: translateY(0);
    }
}

.triangle {
    width: 3vh;
    height: auto;
}

.title {
    margin-left: 24vw;
    margin-right: 24vw;
    font-size: 16px;

    font-family: 'Quicksand', sans-serif;
}

.name {
    font-size: 3vh;
    font-family: 'Quicksand', sans-serif;
}

.flip {
    transform: scaleX(-1);
}