@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.portrait {
    padding: 0;
    width: 40%;
    object-fit: cover;
}

.vis {
    font-size: 5vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    align-items: center;
    overflow: hidden;
    height: 45%;
}

.vis-mid {
    margin: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 10%;
}

.flip {
    transform: scaleX(-1);
}